* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Debug */
.debug {
  color: white;
  background-color: blue;
  border: 1px dashed black;
  padding: 5px;
}

.debug .debug {
  background-color: rgb(122, 12, 12);
}

.debug .debug .debug {
  background-color: rgb(39, 196, 8);
}

/* NAV */

nav {
  display: flex;
  justify-content: center;
}

/* HEADER */

.page-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.page-header > .pos {
  display: flex;
  margin: 1% 15%;
  width: 100%;
}

.link-item {
  display: inline-block;
}

.header-login {
  display: flex;
  justify-content: flex-end;
}

/* UTILS */

.container {
  display: flex;
  width: 100%;
  margin: 20px auto;
  padding: 0;
  height: 400px;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.sm-column {
  flex: 1;
  background-color: purple;
}

.lg-column {
  flex: 3;
  background-color: orange;
}

/* MAIN */

.presentation {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 40%;
  align-items: center;
}

li {
  padding: 20px 0;
}

li:nth-child(odd) {
  background-color: white;
}

li:nth-child(even) {
  background-color: rgb(151, 151, 151);
}
